*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
    color: white;
}
@font-face{
    font-family: "Inter";
    src: url(../font/Inter_24pt-Regular.ttf);
}
.header_nav{
    position: fixed;
    height: 100vh;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.header_nav a{
    writing-mode: vertical-rl;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.standart_section{
    width: 90%;
    padding-left: 10%;
    height: 100vh;
    background-color: #1a1a1a;
    background-image: url(../img/standart_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.standart_title{
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}
.standart_title span{
    color: #FF009E ;
}
.char_content,
.price_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.char_content h3
.price_content{
    font-size: 40px;
    text-transform: uppercase;
}
.char_list,
.price_list{
    display: flex;
    gap: 20px;
}
.char_item{
    width: 7%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 2px solid #ffffff50;
}
.char_item p{
    font-size: 18px;
}
.char_item span{
    font-size: 12px;
    color: #ffffff50;
}
.price_item{
    width: 7%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1f1f1f;
    border-radius: 20px;
}
.price_item_title{
    font-size: 14px;
}
.price_item_acces{
    font-size: 12px;
    color: #ffffff50;
}
.price_item_desc {
    font-size: 10px;
}
.price_item_price{
    font-size: 20px;
}
.pie{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.one_pie{
    background-image: conic-gradient(#fff 10%, #000 0%);
}
.two_pie{
    background-image: conic-gradient(#fff 25%, #000 0%);
}
.three_pie{
    background-image: conic-gradient(#fff 40%, #000 0%);
}
.four_pie{
    background-image: conic-gradient(#fff 60%, #000 0%);
}
.five_pie{
    background-image: radial-gradient(circle at -5%, #000 60%,#fff 60% 90%, #000)
}
.six_pie{
    background-image: radial-gradient(#fff 45%, #000);
    box-shadow: 10px 0 50px black;
}
.standart_section .price_item:first-child{
    border:  2px solid #ffdaf1;
}
.standart_section .price_item:nth-child(2){
    border:  2px solid #FFA8DB;
}
.standart_section .price_item:nth-child(3){
    border:  2px solid #FF8FD0;
}
.standart_section .price_item:nth-child(4){
    border:  2px solid #FF76C5;
}
.standart_section .price_item:nth-child(5){
    border:  2px solid #FF5DBA;
}
.standart_section .price_item:nth-child(6){
    border:  2px solid #ff009e;
}
.discounts{
    width: 250px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.discount{
    width: 100%;
    height: 35%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 2px solid #ffffff50;
}
.discount h3{
    color: #FFA8DB;
    font-size: 28px;
}
.discount2{
    width: 100%;
    height: 35%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 2px solid #ffffff50;
}
.discount2 h3{
    color: #ff009e;
    font-size: 28px;
}